apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-glqrskmv
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-glqrskmv:69e9df9cb4e94be62f7de56cf7e09868ec3dd44c@sha256:0470c779429f6ae6ddeab4754f75d4f325a4d4cef533d0ae149c23fb720e1eb2
          name: container-image
